<div id="page_wrapper">
	<div id="profile_image">
		<%= image_tag "https://scontent-sjc.xx.fbcdn.net/hphotos-xpf1/v/t1.0-9/10653512_707149899334190_5934679183854479295_n.jpg?oh=8c76359ddb145de5aa1a703517e450f8&oe=5582C6C1" %>
	</div>

	<div id="content">
		<h1>Hey, Im Rhys Davies</h1>
		<p>This is week 2 of Mackenzie Childs 12 Web Apps in 12 Weeks Challenge</p>
		<p>I build this blog in rails 4, you're actually on the demo application right now, Cool stuff, right!.</p>
		<p>Teehee, Bye!</p>
	</div>
</div>